[2022-05-11 17:10] calculuschild commented on #2470
@PaulSchult

Ah, your tokenizer `match` uses the `/m` multiline tag. This may be causing issues, since this changes the `^` to match the start of a line, rather than the start of the string. So your match is no longer enforced to start at the string start, but instead can start anywhere in your input string as long as `@` is at the beginning of a line. Thus the Regex includes your dummy text as pa

[2022-05-11 21:28] willeastcott commented on #2217
The PlayCanvas Developer Site was just affected by this too. We recently upgraded marked and all reference style links in markdown tables stopped working (without us noticing at first). I have now [switched them all](https://github.com/playcanvas/developer.playcanvas.com/pull/384) to inline links.  So while we're OK after this fixing up, it'd be great to get reference style links in tables working

[2022-05-12 05:51] PaulSchult commented on #2470
@calculuschild Thanks for the help, I appreciate it! The `/m` was indeed leading to the faulty rendering.

[2022-05-12 05:51] #2470 closed

[2022-05-12 15:24] calculuschild commented on #2280
This seems to be in conflict with the spec: https://spec.commonmark.org/0.30/#right-flanking-delimiter-run

A Right-Flanking Delimiter Run (the closing set of asterisks) isn't valid if it is surrounded by punctuation, which includes `\` and `[`.

[2022-05-12 17:32] albfan commented on #339
This solutions still put the `=heightxwidth` in img src so  I tweak it a little:

[code]

[2022-05-12 18:05] albfan commented on #362
Probably link to sources will help: https://github.com/tunnckoCore/blankr/tree/gh-pages/markedjs

I'm curious why this is not under image markdown

[2022-05-14 08:23] albfan commented on #545
I usually don't need to change whole marked for table of contents (like sidebar with toc and all text rendered)

This is an example on how to apply this toc on fly. If you have a div `content` and a div `table-content`:

[code]

[2022-05-14 11:57] albfan commented on #362
After review the demo this is a rework using image tag so you can control alternate property, title, width and height:

Works for any image (img), video (html5), and common video providers (youtube, vimeo, Dailymotion, viddler):

[code]

[2022-05-14 18:56] yannicklescure commented on #1461
Hi, I'm using version "4.0.15". The bug is still present (or is back).

[2022-05-14 19:29] calculuschild commented on #1461
@yannicklescure Can you give us an example input and output? We can add it to our test suite and reopen this issue.

[2022-05-14 21:36] yannicklescure commented on #1461
@calculuschild I did further test trying to narrow the issue. Here is what I have tried.
[code]

The serie a, b, c gives the expected result i.e.: <li>a1</li>.
The serie d, e, f gives the list of elements adding p inside li i.e.: <li><p>a1</p></li>. Notice the added space between the lines.

[2022-05-15 02:54] UziTech commented on #1461
That is called a [loose list](https://spec.commonmark.org/0.30/#loose) and that is intended behavior that follows the CommonMark spec.

[2022-05-17 02:43] #2468 closed

[2022-05-17 13:28] #2217 closed

[2022-05-21 21:50] tunnckoCore commented on #362
@albfan good idea, definitely! But auto-linking and auto-embeding sounds better to me.

Soooo, many years... jesus. :laughing:

[2022-05-22 01:31] UziTech commented on #2469
Closing as stale. If this is still an issue please provide more detail.

[2022-05-22 01:31] #2469 closed

[2022-05-23 06:11] albfan commented on #362
Indeed you can add verbatim html, this is just if you want non technical users to deal with multimedia

[2022-05-23 13:16] kiyoka opened #2475 "[BUG] The fenced code block that follows the list is strange."
**Marked version:**
4.0.16

**Describe the bug**
The fenced code block that follows the list is strange.
If code block contains blankline, it is not judged as code block.

**To Reproduce**

![repro1](https://user-images.githubusercontent.com/80378/169825319-7f786584-0be3-4694-8962-530731a28ad0.png)

[Marked Demo permalink](https://marked.js.org/demo/?outputType=html&text=-%20abc%0A%60%60%60ruby%0A

[2022-05-27 11:55] ShindouMihou opened #2481 "Bold Markdown breaks when I' is selected as bold with non-bold succeeding characters."
**Marked version: 4.0.16** (edit: it's marked 4.0.16 and not 4.0.3 which was `@types/marked`)

**Describe the bug**
Marked fails to translate `**I'**` in `**I'**ve` into bold, this only occurs when you include more characters after the bold marks (e.g. `**I'**v` and so forth).

**To Reproduce**
1. Write any markdown that uses `**I'**v`
2. Use marked (it will occur in default settings even).

1. [M

[2022-05-27 12:04] ShindouMihou commented on #2481
I've received some information that it seems like bold markdown should work when the start and end are letters and not symbols which is the case of for this (as per specifications apparently), closing this issue then.

ex. **h%@**w

[2022-05-27 12:04] #2481 closed

[2022-05-27 17:29] vhscom opened #2482 "[docs] revisit sanitizer recommendations"
**What pain point are you perceiving?.**
I took one good look at DOMPurify and it's not meant for a modern stack. Next, Nuxt, SvelteKit. All of them do SSR and DOMPurify will fail hard the moment someone tries to use it server-side leading to SO questions [like this one](https://stackoverflow.com/questions/65646007/next-js-dompurify-sanitize-shows-typeerror-dompurify-webpack-imported-module).

**D

[2022-05-27 18:36] UziTech commented on #2482
If you want to make a PR for the docs changes I would be happy to accept it 😁👍

[2022-05-27 21:04] louwers commented on #2134
I have forked marked, applied the patch and published it to npm as `@louwers/marked`. In case anyone wants to play with it already, this may be a bit easier than applying a patch.

[2022-05-29 03:57] vhscom commented on #2482
Thanks! I sent a pull. I thought about adding [isomorphic-dompurify](https://github.com/kkomelin/isomorphic-dompurify) but decided to keep the warning message terse and instead submitted [an issue to DOMPurify](https://github.com/cure53/DOMPurify/issues/691) in case they decide to enhance it so users can use DOMPurify without the wrapper for SSR.

[2022-05-29 05:20] #2482 closed

[2022-05-30 06:10] hyrious commented on #1925
Here's [what I did](https://github.com/hyrious/marked-cli/blob/7acf546bc5654319bd72b74a10f8610f4c6fff4e/index.html#L26) to add mermaid to my toy lib.

[2022-06-03 21:08] caub commented on #339
Trying with marked@^4

But it's not even entering the renderer: https://runkit.com/caub/629a771c7669d70009acded9

What's wrong?

[code]

[2022-06-04 02:59] UziTech commented on #339
@caub it looks like that was fixed to act more like [CommonMark](https://spec.commonmark.org/dingus/?text=!%5Bfoo%5D(foo.jpg%20%3D100x80)) in v0.4.0

It does work to put quotes (`"`) around the title.

[code]

https://runkit.com/uzitech/629aca6bbf7fb700099e25fc

[2022-06-10 21:40] minimatest opened #2498 "Rendering .md files in html using marked.js"
I am trying to render a markdown file (`.md`) in a `<body>` component of an html page.

The documentation presents the following usage:

[code]
Which works well for what I want to do (it renders the markdown in html format). However, I'd like the input into the `marked.parse` call to be a `.md` file such that I don't have to write all of the content between simple quote barriers.

I tried:

[code]

[2022-06-10 22:55] UziTech commented on #2498
You will need to write a function that fetches the file and sends the text into marked.

Something like:

[code]

[2022-06-13 03:15] #1590 closed

[2022-06-20 08:40] icefery opened #2505 "How to re-parse token to markdown?"
## Question

How to re-parse token to markdown?

I am using `marked.lexer()` to parse markdown to token, and want to do some changes on it and then re-parse to markdown. As below:

[code]

Thanks.

[2022-06-20 08:40] icefery opened #2506 "How to re-parse token to markdown?"
## Question

How to re-parse token to markdown?

I am using `marked.lexer()` to parse markdown to token, and want to do some changes on it and then re-parse to markdown. As below:

[code]

Thanks.

[2022-06-20 08:42] #2506 closed

[2022-06-20 14:04] UziTech commented on #2505
That isn't what marked is for. You could use [turndown](https://github.com/mixmark-io/turndown) on the output HTML.

[2022-06-20 19:13] ropoko opened #2512 "weird behavior on link"
**Marked version: 4.0.17**

**Describe the bug**
when parsing an markdown like this: `[some random text](https://linkforrandomtext.com)`, the tag `<a>` gets the height of the paragraph (`<p>`)

![image](https://user-images.githubusercontent.com/49417432/174664436-9477a4a6-f942-4cc6-8080-ce666584ce72.png)

In the image above, the white space below the link represents the height it gets proportional

[2022-06-20 19:31] calculuschild commented on #2512
This looks like a result of CSS styling on your `<a>` tags. Marked.js does not apply any CSS.

[2022-06-21 02:26] ropoko commented on #2512
for some reason this only show when the tag p is with the `display: flex`, but anyway, I don't even know why I was using a flex there, so the error was in my code.
After removing that display, I got the expected behavior.

[2022-06-21 02:26] #2512 closed

[2022-06-26 19:50] hawkticehurst opened #2513 "Question: How to prevent parsing inside web components that have empty lines?"
**Marked version:** `v4.0.3`

**Describe the issue/question**
_I originally created this issue as a bug, but after comparing the Marked Demo and CommonMark Dingus HTML outputs it seems the current behavior may actually be within spec, so I'm rephrasing this as a question in the hopes that there might be a way to customize marked behavior to achieve the desired results._

I know there was a fix to

[2022-06-26 21:06] UziTech commented on #2513
The easiest way would be to create a [custom extension](https://marked.js.org/using_pro#extensions) that looks for HTML tags.

[2022-06-27 19:10] ErazerBrecht opened #2516 "Breaking change of leading tab in unordered list"
**What pain point are you perceiving?.**
When using 2 leading tabs in a list it starts seeing it as a code block. Which could make sense
But starting from 4.0.15 it also places them on another level which I really can't explain.

Marked has introduced this breaking change between version 4.0.13 & 4.0.14, and 4.0.15 makes it even worse.
Caused by #2434

[Working example 4.0.13](https://marked.js.or

[2022-06-28 04:21] hawkticehurst commented on #2513
Thanks for the direction! I've been trying to implement a custom extension based off the docs/example and _think_ I understand what's going on/am getting close.

As a base case/sanity check, I've created regex that successfully can capture a web component (with no new lines), verified that the token that is generated looks correct, and then render it––unaltered from the input.

I've also tested my

[2022-06-28 04:34] hawkticehurst commented on #2513
Nevermind.. while my regex is being matched in the regex tester I was using, I just realized it's not actually being matched when run in the custom extension 🤦🏻‍♂️😅

[2022-06-28 04:39] hawkticehurst commented on #2513
Actually one question I do have from the docs that I think I may be misunderstanding, what does it mean when the docs say the following?

[2022-06-28 16:12] UziTech commented on #2513
`src` is the whole rest of the markdown string and how marked knows what to remove for the next tokenizer is based on the `token.raw` length value. If the extension finds a token in the middle of `src` instead of the beginning it will send the wrong `src` to the next tokenizer.

[2022-06-28 16:15] calculuschild commented on #2513
To add to @UziTech, in case the docs weren't clear, the way to make that happen is to use a carat symbol `^` at the beginning of your regex. You already seem to be doing this but it's easy to miss.

[2022-06-28 20:09] hawkticehurst commented on #2513
Thank you both for the clarification!

I still haven't been able to figure out exactly where I'm going awry, but have decided to step away from this and instead just add a script/config that makes vanilla markdown code blocks work for my needs at the moment.

I'll go ahead and close this issue at this time and maybe come back and revisit it later.

[2022-06-28 20:09] #2513 closed

[2022-06-29 21:09] AhmedBHameed commented on #233
@antonreshetov

Thank you for the nice function. However, I just enhance the functionality since it was producing an issue with the following

`:information_source: [scripting language](https://en.wikipedia.org/wiki/Scripting_language)`

The output was ℹ️[scripting language](https

Also prevent ruinding the code snippet.

[code]

[2022-07-01 05:46] blikblum opened #2517 "Link is not rendered when a HTML tag is present one line above"
**Marked version:**
4.0.17 or master

**Describe the bug**
When a html tag (tested with `br` and `hr`) is followed by a line with link [](), the link is rendered as is (not converted to `a` tag)

**To Reproduce**
Steps to reproduce the behavior:

Marked: https://marked.js.org/demo/?text=%23%20Hello%0A%0AText%0A%0A%3Cbr%3E%0AHello%20%5Blink%5D(https%3A%2F%2Fmarked.js.org%2F)%20%0A&options=%7B%0A%20

[2022-07-01 05:49] UziTech commented on #2517
Marked follows CommonMark. Markdown inside an html block is rendered as html not markdown. If you add a blank line below the html tag it will work.

[2022-07-01 06:15] blikblum commented on #2517
Thanks

[2022-07-01 06:15] #2517 closed

[2022-07-01 06:16] blikblum commented on #2517
Created an issue in the editor that created the markdown: https://github.com/nhn/tui.editor/issues/2586

[2022-07-02 10:05] Kurt-von-Laven opened #2518 "Comments Within Fenced Code Blocks Within Unordered Lists Are Parsed As Headings"
**Marked version:** 4.0.17

**Describe the bug**
It appears that marked gets confused by the presence of `#` within a fenced code block within an unordered list, mistaking comments for headings, and failing to detect actual headings after the fenced code block.

**To Reproduce**
Steps to reproduce the behavior:

1. [Marked Demo](https://marked.js.org/demo/?text=%23%20test%0A%0A%23%23%20before%0A%0

[2022-07-02 15:24] UziTech commented on #2518
Looks like this is something that broke in the last release

[2022-07-03 07:40] r-matsuzaka commented on #269
I have the same issue.

[2022-07-03 21:52] UziTech commented on #269
You can create a [custom extension](https://marked.js.org/using_pro#extensions) to render markdown differently

[code]

[2022-07-03 21:58] UziTech commented on #233
You could also create a [custom extension](https://marked.js.org/using_pro#extensions) to render markdown differently.

[code]

[2022-07-04 01:22] vixalien opened #2519 "Add async API"
**What pain point are you perceiving?.**
It's a bad thing that marked still uses callbacks. using the new async/await features of javascript might be a good thing.

**Describe the solution you'd like**
Usage of async/await instead of callbacks. Would be useful for plugins as well ass rendering.

[2022-07-04 01:28] UziTech commented on #2519
Duplicate of #458

[2022-07-04 01:28] #2519 closed

[2022-07-04 08:03] yaldram opened #2521 "marked import error"
**Marked version:** 4.0.17

**Describe the bug**
I am using react with `create-react-app, webpack version 5`. When I import marked like - `import { marked } from "marked";`  I get the following error : -

<img width="850" alt="image" src="https://user-images.githubusercontent.com/13429535/177109390-fbeb215f-2274-435d-907e-47842c7defba.png">

**To Reproduce**
Steps to reproduce the behavior:
- Clon

[2022-07-04 08:07] yaldram commented on #2521
I had to import marked using commonjs like so - `const { marked } = require("marked")`.

[2022-07-05 07:02] CarterLi commented on #545
Generate TOC with indentation

[code]

[2022-07-11 15:12] #2518 closed

[2022-07-12 00:55] KSR-Yasuda opened #2531 "Syntax parse fails with Japanese punctuation (`、`), strong syntax and code syntax"
**Marked version:**

* v4.0.18

**Describe the bug**
A clear and concise description of what the bug is.

Copy from https://github.com/volca/markdown-preview/issues/135.

The case below, it does not parse syntax correctly.

[code]

With Japanese punctuation (`、`), strong syntax (`**`), and code syntax (`` ` ``),
it needs some space to make them parsed correctly (The former 3 examples).

Although,

[2022-07-12 16:09] UziTech commented on #2531
looks like the issue is that `、` is not included as [punctuation](https://github.com/markedjs/marked/blob/master/src/rules.js#L184) for left delimiter.

[2022-07-13 00:49] KSR-Yasuda commented on #2531
So, now you support only ASCII punctuations, right?

The character [`、` (`U+3001`, Ideographic Comma)][Unicode_IdeographicComma] being in Unicode `Po` category,
it's one of 'Unicode punctuation character'.

[Unicode_IdeographicComma]: https://www.compart.com/en/unicode/U+3001

Could you support such Unicode punctuations?

[2022-07-13 00:52] KSR-Yasuda commented on #2531
And, [`　` (`U+3000`, Ideographic Space)][Unicode_IdeographicSpace] is a ['Unicode whitespace character'][UnicodeWhiteSpaceCharacter] as `Zs` category character.

I think it should be also supported as a space character besides space (`U+0020`) and tab (`U+0009`), if not yet.

[UnicodeWhiteSpaceCharacter]: https://spec.commonmark.org/0.30/#unicode-whitespace-character
[Unicode_IdeographicSpace]:

[2022-07-14 08:12] dk-raw opened #2533 "List of heading IDs"
**Describe the feature**
It would be nice to have an array of the heading IDs automatically generated by Marked. This allows you to have a "Contents" section.

[2022-07-14 13:38] UziTech commented on #2533
Duplicate of #545

[2022-07-14 13:38] #2533 closed

[2022-07-18 07:27] yaldram commented on #2521
When I import `const { marked } = require('marked')` I get a runtime error saying - `marked is not a function`. I am unable to use  version 4.0 and above due to the above error. Can you please suggest a workaround sir @UziTech, thanks.

[2022-07-18 13:44] UziTech commented on #2521
What do you get when you log the output of `require('marked')`?

[2022-07-18 14:48] yaldram commented on #2521
@UziTech sir, using `const { marked } = require('marked')` returns `undefined`.
Using `const marked = require('marked')` returns ` /static/media/marked.af4dd239aa577a4f71e4.cjs`.

[2022-07-18 14:56] UziTech commented on #2521
I tried with a new cra app and `import { marked } from 'marked'` seems to work fine. Can you create a minimal repo that reproduces it?

[2022-07-18 15:19] yaldram commented on #2521
@UziTech thanks a lot, i tried with a create-react-app and it is working as expected, I will check with webpack config. Thanks for your time.

[2022-07-19 06:23] yaldram commented on #2521
@UziTech sir, don't you think the `commonjs` import should work I create a new create-react-app even there I get the output as mentioned above, but importing other libraries using `commonjs` syntax works as expected.

[2022-07-20 22:25] UziTech commented on #2521
`commonjs` import seems to work for me ([demo](https://runkit.com/uzitech/62d87f4db413f20008acddc6)). It looks like the issue is somewhere in create-react-app.

[2022-07-21 05:36] yaldram commented on #2521
Yes there is some issue with `create-react-app`. We have finally resolved this error by adding this babel helper `@babel/helper-create-regexp-features-plugin` as a devDependency.

[2022-07-23 19:43] rockie-yang commented on #1538
Here is another one based @qwqcode 's solution.

    import marked from "marked";
    import katex from "katex";
    import "katex/dist/katex.css";

    const renderer = new marked.Renderer();

    const replacer = (((blockRegex, inlineRegex) => (text) => {
        text = text.replace(blockRegex, (match, expression) => {
            return katex.renderToString(expression, {displayMode: true});

[2022-07-24 11:54] Noibisjunior commented on #2229
wow, it solved the problem. The good use of the import make the markdown file passed successfully.
Thanks man

[2022-08-02 14:41] adithyaakrishna commented on #190
Test <br />asdasd

[2022-08-04 21:13] amundo opened #2547 "Option to not wrap custom elements in a <p>"
**Describe the feature**
GitHub flavored markdown wraps custom elements (with hyphens in their names) in a `<p>` tag, like this:

https://github.github.com/gfm/#example-636

[code]

Becomes:

[code]

I think it would be helpful if there were a way to specify that the output should be:

[code]

**Why is this feature necessary?**

Some custom elements aren’t designed to be nested inside `<p>` tags.

[2022-08-05 01:40] UziTech commented on #2547
Marked doesnt't wrap any html elements with `<p>` tags. [demo](https://marked.js.org/demo/?outputType=html&text=%3Cresponsive-image%20src%3D%22foo.jpg%22%20%2F%3E&options=%7B%0A%20%22gfm%22%3A%20true%0A%7D&version=master)

This works according to the [spec](https://spec.commonmark.org/0.30/#raw-html)

[2022-08-05 13:31] amundo commented on #2547
It seems that no `<p>` is added if the custom element is self-closing, but one is added if there is a closing tag:

[demo](https://marked.js.org/demo/?outputType=html&text=%3Cresponsive-image%20src%3D%22foo.jpg%22%3E%3C%2Fresponsive-image%3E&options=%7B%0A%20%22gfm%22%3A%20true%0A%7D&version=master)

Although I see now that the commonmark dingus behaves the [same way](https://spec.commonmark.org/d

[2022-08-05 17:24] witherBattler commented on #420
this doesn't affect the result

[2022-08-05 19:21] UziTech commented on #2547
Yes if you want to change the way HTML is handled in marked you will need to create a [custom extension](https://marked.js.org/using_pro#extensions).

[2022-08-06 17:09] amundo commented on #2547
Ok, thanks, I might try that. Still not sure I understand why that behavior is part of the spec, it strikes me as strange, but I guess it’s external to marked itself. Thanks for your help. 🤷🏻

[2022-08-06 17:09] #2547 closed

[2022-08-10 08:35] Heath123 commented on #420
Yes it does, I just tested it

[2022-08-10 15:00] UziTech commented on #420
You should be able to use the tokenizer for this.

[code]

[2022-08-10 20:51] sernaferna opened #2551 "TypeScript and/or Documentation issue"
**Marked version:** 4.0.18
**@types/marked version:** 4.0.3

**Describe the bug**
I've followed the documentation for creating a [custom extension](https://marked.js.org/using_pro#extensions), but TypeScript complains about the `lexer.inlineTokens()` and `parser.parseInline()` methods. The sample extension in the documentation has one param for each, but TypeScript feels there should be two.

**To

[2022-08-11 05:52] UziTech commented on #2551
The second parameter of `parseInline()` is a renderer. This is so we can pass in a text renderer for some calls.

For both of those calls the second parameter should be optional. This looks like an issue in [@types/marked](https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/marked)

[2022-08-11 14:41] sernaferna commented on #2551
Aha! Confirmed! I hacked the types into my own code instead of importing from `@types/marked` and made the params optional, and it now works.

I'll submit a bit at DefinitelyTyped.

[2022-08-11 14:41] #2551 closed

[2022-08-11 15:28] DLiblik commented on #2134
Late to the party, but we've been trying to use marked in a wiki editor but unfortunately, though it's a great library, the mangling done to the src prior to, and during, lexing makes re-adding position tracking a negative force on performance.

This is hard to undo at this point without a significant rewrite, but if done well, position tracking should be a positive (not negative) force on perform

[2022-08-11 15:58] DLiblik commented on #2134
...or maybe promote it as a markdown renderer (its clear focus area: ideal for rendering into other language spaces) instead of as a general parser (for us it took time to find out it's not really usable as a parser except as a step towards  rendering - a "true" parser suggests focus on the source document, not the output - we assumed it could do both and now are faced with switching to another li

[2022-08-11 18:34] UziTech commented on #2134
Any way to improve marked is ok with me. 😁👍

I'm curious, at a high level, what would be needed to make marked work the way you explain?

If you would like to create a PR that updates docs/readme I would be ok with that as well. I do, however, disagree that marked is a markdown renderer. Marked does not render markdown, it parses markdown to render it as HTML.

We do parse the markdown into tokens

[2022-08-11 22:40] sernaferna commented on #2551
Not that it matters, but I updated the code above to use `lexer.inline` instead of `lexer.inlineTokens` because of a huge performance boost; wouldn't want anyone to see the code above and do it the "slow" way. 🙂

[2022-08-12 17:52] sernaferna commented on #1562
...

Worked perfectly for me! Thanks so much, @talkdirty!

Here's a slightly updated TypeScript version, in which I added an `ol` to the `footnoteContainerTemplate` and `li` to the `footnoteTemplate`, as well as a link from the footnote back to the reference, to more closely match how GitHub does it.

[code]

I define my marked extensions in separate files from each other, but of course it was imp

[2022-08-13 06:44] neogmanish99 commented on #2229
thanks , it solved

[2022-08-15 07:04] ychao1983 opened #2553 "The base url should also affect the image url for raw html content in md file"
**Describe the bug**
The base url  should also affect  the image url  for   native html content in md file

**To Reproduce**
if  this conten  is in md file,  the  base url  will not work,  the  img src will not change.
[code]

**Expected behavior**
I hope the base url also work for  html in md file.

[2022-08-15 13:57] UziTech commented on #2553
We don't parse raw html so there is no way for marked to know that is a URL.

[2022-08-16 13:41] spenserblack opened #2556 "Type errors when following documented extension usage"
**Marked version:** 4.0.18
**`@types/marked` version:** 4.0.3

**Describe the bug**
When following the [documented example](https://marked.js.org/using_pro#extensions) for writing an extension, type errors are produced. The return type of `start` *must* be a number, so the maybe-undefined value of `match?.index` causes an error. `this.parser.parseInline` and `this.lexer.inlineTokens` both expect *

[2022-08-16 14:00] UziTech commented on #2556
This is being discussed at https://github.com/DefinitelyTyped/DefinitelyTyped/discussions/61664#discussioncomment-3376571

A PR to update the types would be great 👍

[2022-08-16 14:06] spenserblack commented on #2505
An [extension](https://marked.js.org/using_pro#extensions) would probably work.

Here's a simple example:
[code]

[2022-08-16 14:19] spenserblack commented on #2556
Thanks for pointing out that discussion! For my specific issue I think only the types themselves need to be updated (e.g. making `RenderThis['parser']` a different type than `Parser`), but I'll try to dig into marked's source code to make sure that's true.

Would it be preferred to resolve this issue by also addressing https://github.com/DefinitelyTyped/DefinitelyTyped/discussions/61664#discussion

[2022-08-16 18:21] UziTech commented on #2556
The marked part already has a PR https://github.com/markedjs/marked/pull/2552

[2022-08-16 23:23] sernaferna commented on #485
I came across a case where I _do_ want the rendered output from my markdown to be handled differently based on the front matter. My use case is too niche to describe, but suppose we want to handle the case where we want to prefix some text to the beginning of headers, such that:

[code]

would become

[code]

still contrived, but you get the point; the text in the optional front-matter would be us

[2022-08-17 02:28] spenserblack commented on #2556
Looks like a PR for `@types` was made https://github.com/DefinitelyTyped/DefinitelyTyped/pull/61755

[2022-08-17 20:18] spenserblack commented on #2556
Made https://github.com/DefinitelyTyped/DefinitelyTyped/pull/61791 to update the return type for `extension.start`.

[2022-08-17 22:50] spenserblack commented on #2556
Those 2 PRs should resolve this, so closing

[2022-08-17 22:50] #2556 closed

[2022-08-19 09:53] cesar-cardinale opened #2558 "Regex safari browser error"
**Marked version:** 4.0.18

When compiled, the module throw an error in Safari (15.4) :
[code]
Project TypeScript, `marked` installed via NPM.

Is the problem come from my project or from your module ?
Thank you !

[2022-08-19 10:21] ValentinVignal commented on #269
@UziTech  I don't think that is working, I tried your sample and I still get `<p>&#39;</p>` as an output

[![Edit TypeScript Playground Export (forked)](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/typescript-playground-export-forked-6d1sui?fontsize=14&hidenavigation=1&theme=dark)

[2022-08-19 13:29] cesar-cardinale commented on #2558
My bad, It was my project that didn’t point to the right place for the error of the RegEx.

[2022-08-19 13:29] #2558 closed

[2022-08-19 14:09] UziTech commented on #269
My example only prevents escaping between `{{}}` for handlebars. You will need to change the code of you want to prevent it other places.

[2022-08-24 14:26] weilinzung opened #2563 "Add support for mark - highlighting words"
**Describe the feature**
https://www.markdownguide.org/extended-syntax/#highlight

Also, related to type as well if this added: https://www.npmjs.com/package/@types/marked

**Why is this feature necessary?**
[code]

[code]

[2022-08-25 04:21] UziTech commented on #2563
You can create an extension for this:

[code]

[2022-08-27 09:05] lxk1066 opened #2564 "In the code block marked with the ```shell, the first line of comments with "#" is parsed into head No. 1."
In the code block marked with the ```shell , the first line of comments with "#" is parsed into head No. 1.
![image](https://user-images.githubusercontent.com/53557084/187023372-fb7923f2-0e72-4220-8467-dd86d118dcc1.png)

[2022-08-27 09:21] lxk1066 commented on #2564
## This is the Markdown source code:
![image](https://user-images.githubusercontent.com/53557084/187023888-252d7519-d12f-4a22-8898-aaf9c86048e3.png)
## This is the rendering effect in a production environment:
![image](https://user-images.githubusercontent.com/53557084/187023969-fd8417e1-8413-4869-b508-5f3346449da2.png)

[2022-08-27 15:16] UziTech commented on #2564
Are you able to recreate this in a [demo](https://marked.js.org/demo/?text=%60%60%60shell%0A%23%20https.conf%0Avi%20%2Fetc%2Fhttpd%2Fhttpd.conf%0A%0A%60%60%60&options=%7B%0A%20%22baseUrl%22%3A%20null%2C%0A%20%22breaks%22%3A%20false%2C%0A%20%22extensions%22%3A%20null%2C%0A%20%22gfm%22%3A%20true%2C%0A%20%22headerIds%22%3A%20true%2C%0A%20%22headerPrefix%22%3A%20%22%22%2C%0A%20%22highlight%22%3A%20nul

[2022-08-27 15:31] lxk1066 commented on #2564
I used it in the Vue2.x project, and the marked version is 4.0.17. I also used the highlight.js plugin.
In addition, after fixing bug, I found that moving comments to the end of the shell command can cleverly solve this problem.

[2022-08-27 15:36] lxk1066 commented on #2564
I used it in the Vue2.x project, and the marked version is 4.0.17. I also used the highlight.js plugin.
In addition, after fixing bug, I found that moving comments to the end of the shell command can cleverly solve this problem.

[2022-08-27 16:00] UziTech commented on #2564
I'm guessing the issue is that `highlightAuto` is thinking the code is markdown because you aren't telling it what language it is.

[2022-08-27 16:00] lxk1066 commented on #2564
### I don't know why it's normal to reproduce code in marked demo.
[demo](https://marked.js.org/demo/?text=%0A%60%60%60shell%0A%20%20%20%23%20vi%20%2Fmnt%2Fdocker%2Fflarum%2Fflarum.env%0A%20%20%20%0A%20%20%20DEBUG%3Dtrue%0A%20%20%20%0A%20%20%20FORUM_URL%3Dhttp%3A%2F%2F127.0.0.1%3A8000%0A%20%20%20%0A%20%20%20%23%20Database%20configuration%0A%20%20%20DB_HOST%3Dmariadb%0A%20%20%20DB_NAME%3Dflarum%0A%

[2022-08-27 16:04] lxk1066 commented on #2564
All right, I'll try again.

[2022-08-30 07:22] ZHUI commented on #266
can you give some example source code,  that fix the width table in the github readme.md or just like you replied in this issue

<img width="902" alt="image" src="https://user-images.githubusercontent.com/16911935/187375065-9dcf7762-0ab1-4a14-a79d-895f6bac2b98.png">

[2022-08-30 14:36] #458 closed

[2022-09-06 14:51] sinedied opened #2573 "Expose functions in helpers.js"
**Describe the feature**
I would like the the methods located in `helpers.js` to be exposed publicly.

**Why is this feature necessary?**
When using lower-level features like the Lexer, the methods located in helpers becomes handy for all sorts of processing.

**Simple example use case:**
I want to extract all headings from my markdown file. This is pretty straightforward do to using the Lexer wit

[2022-09-06 15:25] UziTech commented on #2573
See https://github.com/markedjs/marked/issues/1650#issuecomment-617429229

[2022-09-07 11:59] dongrixinyu opened #2574 "a bug when I import katex into the marked using tokenizer"
**Marked version:**
- 4.1.0

**Describe the bug**

I try to import katex into marked using tokenizer extension like this:

[code]
- and my markdown text is like this:
[code]
- in some lines, the latex formula is located in the middle of text. In other lines, the latex formula is located in the beginning of the text.
- But I get the following results:
    - If the formula does not exist in the begi

[2022-09-07 14:22] dongrixinyu commented on #2574
I really appreciated that you help me a lot. Thank you!

[2022-09-07 14:29] UziTech commented on #2574
Katex has been something people have been asking for for a while so I just created an extension and published it to npm. [marked-katex-extension](https://www.npmjs.com/package/marked-katex-extension)

[2022-09-07 14:32] dongrixinyu commented on #2574
OK, I stared this repository.

[2022-09-07 14:35] #2574 closed

[2022-09-07 14:36] UziTech commented on #1582
Katex has been something people have been asking for for a while so I just created an extension and published it to npm. [marked-katex-extension](https://www.npmjs.com/package/marked-katex-extension)

[2022-09-07 14:38] UziTech commented on #2564
Did that fix your issue?

[2022-09-07 15:05] calculuschild commented on #1582
We previously discussed maintaining a small list of known extensions. https://github.com/markedjs/marked/discussions/2321#discussioncomment-1800936

It is worth putting that together as part of the docs now that we have a few floating around out there?

[2022-09-07 21:03] UziTech commented on #1582
@calculuschild ya it would be nice to have a list of known extensions in the docs

[2022-09-09 12:05] rover95 opened #2575 "How to avoid 4 spaces being converted into code blocks"
I just want to paste plain text code，

[code]

but， parts are converted into code blocks
![image](https://user-images.githubusercontent.com/28331870/189344579-639fd7f3-1efa-4d42-bb6b-c1fcbbe069da.png)

Is there any way I can skip this rule？

[2022-09-09 13:52] UziTech commented on #2575
You can put it in a code block by putting ` ``` ` around the code:

[code]

[2022-09-09 15:11] UziTech commented on #646
@umdstu If you create a new issue with more explanation we would be interested in this. This could most likely be implemented by using an [custom extension](https://marked.js.org/using_pro#extensions).

[2022-09-09 15:21] umdstu commented on #646
Roger that, thanks!

On Fri, Sep 9, 2022 at 11:11 AM Tony Brix ***@***.***> wrote:

[2022-09-09 15:48] calculuschild commented on #646
If you plan to make a custom extension, here's some possible inspiration: I think it's been proposed [elsewhere](https://www.brianchildress.co/variables-in-markdown/) on the interwebs to make use of the existing RefLink syntax for simple string replacement. I.e.:

[code]

although you would need some way to identify whether the variable is a URL or just text.  GitHub does a similar thing with [Foo

[2022-09-09 21:49] rvanzon commented on #2563
@UziTech thanks for your help! Though, the inline tokens don't seem to get fetched and result in undefined tokens.

Changing it to this works:

[code]

[2022-09-09 22:15] UziTech commented on #2563
That should've been fixed in [v4.0.19](https://github.com/markedjs/marked/releases/tag/v4.0.19). My code should work in the latest version.

[2022-09-09 22:16] rvanzon commented on #2563
@UziTech ah, didn't know, I will upgrade. Thanks again!

[2022-09-10 04:02] rover95 commented on #2575
but I just want simple text, not code blocks

[2022-09-10 04:13] UziTech commented on #2575
You can disable the `code` tokenizer. There could be some issues with this since most tokenizers assume more than 3 spaces at the beginning will be a code block.

[code]

Since that is a fundamental part of markdown the best way to write code is with a fenced code block.

[2022-09-10 04:14] #2521 closed

[2022-09-10 04:15] #2498 closed

[2022-09-10 04:17] #1925 closed

[2022-09-10 04:18] #2342 closed

[2022-09-10 04:18] #2563 closed

[2022-09-10 04:21] #2505 closed

[2022-09-10 04:21] #2553 closed

[2022-09-10 04:27] UziTech commented on #1634
This was fixed in [v4.0.17](https://github.com/markedjs/marked/releases/tag/v4.0.17)

[2022-09-10 04:27] #1634 closed

[2022-09-10 04:48] UziTech commented on #1047
fixed

[2022-09-10 04:48] #1047 closed

[2022-09-10 05:17] #2575 closed

[2022-09-12 13:15] #2364 closed

[2022-09-14 07:15] Snack-X opened #2582 "`smartLists` option does not do anything"
**Marked version:** since v3.0.0

**Describe the bug**
`smartLists` option exists on the documentation, but it actually does nothing.

#2112 removed usage of this option.

**Expected behavior**
Remove references to `smartLists` from code and documentation.

[2022-09-14 13:58] UziTech commented on #2582
Nice catch! Since it has been gone since v3 and no one has complained I agree that we should just remove it. If you want to create a PR for that it would be very much appreciated 😁👍

[2022-09-14 16:56] xiefucai opened #2585 "I create a custom block extension and encounter a strange issue"
**Marked version:**
4.1.0
**Describe the bug**
I created a custom extension, below is my code

**src/lib/marked/extensions/admonition.ts**
[code]
[code]
will ouput:
[code]

**To Reproduce**
Steps to reproduce the behavior:
open the demo to check the result:
https://stackblitz.com/edit/typescript-pzxqpw?file=index.ts

**Expected behavior**
output
[code]

[2022-09-14 19:22] UziTech commented on #2585
When a token is created the `raw` string length is used by marked to figure out how much of `src` to remove to start looking for the next token. Make sure your `raw` string is everything that you are consuming from `src`.

[2022-09-14 19:29] UziTech commented on #2585
Also your tokenizer should only look for the token at the beginning of `src`. If the beginning of `src` does not contain your token the tokenizer should return undefined so marked can look for other tokens. Your tokenizer will be called again when it looks for the next token.

[2022-09-15 04:11] xiefucai commented on #2585
thanks @UziTech , I have fixed it follow your replys.
the final code of admonition.ts is:
[code]

[2022-09-15 06:06] UziTech commented on #2585
Awesome! If you want to you can create an npm package that exports the `admonitionPlugin` so others can use it easily.

[code]

[2022-09-18 01:52] #2585 closed

[2022-09-18 14:01] xiefucai commented on #2585
I have publish the package to https://github.com/xiefucai/marked-admonition-extension, everyone can install it as a npm package now.
[code]

[2022-09-20 02:16] Serhii-SPRYKER commented on #2585
Could you provide, please, a better explanation to the extension documentation about how does the string is being cut? I missed a while trying to get why my token has a duplication of a bunch of symbols at the end before I got into this thread

[2022-09-20 02:27] calculuschild commented on #2585
This is already discussed in the documentation:

If you have suggestions on further detail you have in mind we are always accepting PRs.

[2022-09-26 03:42] danzool opened #2589 "Paragraph tokens getting ruined when using a Marked extension"
**Marked version:**
4.1.0

**Describe the bug**
I am looking to use `marked` on a piece of markdown text to essentially "walk" the tokens and produce a transform of paginated output. This works great for all the built-in token types, but I need to add my own extension to recognize a new custom token so I can inject some non-markdown primitive in my application, in place of that token. For example:

[2022-09-26 04:29] calculuschild commented on #2589
I suspect your RegEx is not doing what you think it's doing. My guess is the double `\\` backslash escapes are causing your regex match `\` between zero and one times, three times, followed by one character `.+?`. This pattern matches *every single character* which is why it is eating your whole input text one-by-one.  See https://regex101.com/r/Xi3KTu/1. I think you mean to match three question m

[2022-09-26 05:47] danzool commented on #2589
Thank you for the response! You were right on the money with the regex being the issue. I couldn't get it to work with 1 backslash—it yields a "Nothing to repeat" error—but this did the trick:

[code]

Thanks again, I'll close this out.

[2022-09-26 05:47] #2589 closed

[2022-09-27 06:27] scruel commented on #2443
It's really a problem, and I have no idea how to put the `lex` result back to content, what I am focusing on will only be the parts which are not code, rather than get a result of everything.

@UziTech Is there any way we can custom the pipeline like step-by-step process the content? The best will be that we can eve custom the pipeline order:
[code]
1. Code step:
[code]
2. custom paser (can use Ma

[2022-09-27 16:42] SSK-14 commented on #2582
#2594

[2022-09-28 22:39] UziTech opened #2595 "custom pipeline"
It's really a problem, and I have no idea how to put the `lex` result back to content, what I am focusing on will only be the parts which are not code, rather than get a result of everything.
Even `lex` can result all information we needed to handle the content, to get the certain part of content, I have to execute the render for many times, it definitely will affect the rendering performance and

[2022-09-28 22:55] UziTech commented on #2595
@scruel I moved the question to a new issue so we don't take over the other thread.

The marked lexer works by consuming tokens in the beginning of the source. I think what you are proposing would require rewriting the lexer and parser.

[2022-09-29 01:49] scruel commented on #2595
Ok, I reviewed some code of your project, what you said is correct, and I think it won't be such easy, thanks for your reply.

[2022-09-29 04:35] SachaG commented on #269
It may be obvious (and obviously having this solved in the library itself would be better) but personally I found it easiest to just do:

[code]

[2022-09-29 06:37] scruel commented on #2595
Fixed some typo, you can copy&paste the content again, sorry for the inconvenience caused :)

[2022-09-29 06:50] scruel commented on #2595
Corrected some typos, you can copy&paste the content again, sorry for the inconvenience caused :)

[2022-09-29 16:55] 201B153 commented on #2582
Can I take it?

[2022-09-29 18:00] UziTech commented on #2582
@201B153 sounds good

[2022-09-30 22:21] 201B153 commented on #2337
<b>can I take it?</b>

And please tell me, where on README.md or docs it has to be added??

[2022-10-01 01:32] #2582 closed

[2022-10-01 16:58] #2595 closed

[2022-10-01 17:00] UziTech commented on #2337
Probably best to just add it to the front page of the docs (https://github.com/markedjs/marked/blob/master/docs/INDEX.md)

[2022-10-02 04:46] 201B153 commented on #2337
ok on it!!

[2022-10-02 08:40] paulrudy commented on #269
An example custom extension based on @UziTech's [example](https://github.com/markedjs/marked/issues/269#issuecomment-1173177983) for anyone wanting to prevent escaping `'` (single quotes):

[code]

[2022-10-02 11:00] 201B153 commented on #2337
I have just added what I can find on the web with proper functionality in single-page creation. Please tell me what else could be added.

[2022-10-03 04:43] thevinitgupta opened #2598 "Grammar Error In Documentation"
**Proposal type:** Documentation error

## What pain point are you perceiving?
There is a grammatical mistake in the extensibility section of the Marked documentation

![error](https://user-images.githubusercontent.com/65801700/193502920-7cff42a3-f4a5-4b14-9c83-2a186a60d4c6.PNG)

## What solution are you suggesting?
It should say **methods for** and not `method of`

I would like to make this chang

[2022-10-04 06:04] #2598 closed

[2022-10-06 07:58] xerenahmed commented on #190
this hacky way is working, set height for margin between, or use another html element
[code]

[2022-10-06 13:06] #2337 closed

[2022-10-10 10:48] lasmil commented on #2516
Hi @ErazerBrecht . I played with the example you provided and (I might be wrong) I found that if you use the option: pedantic = true, then you will get the expected response.

I created a PR as well which should add an example of pedantic being false or true with your example (I think it will be useful for anybody who encounters this scenario).

[2022-10-10 11:58] ErazerBrecht commented on #2516
Hi @lasmil thx for that idea.
I'll see if I can test that option!

Sincerely,
Brecht

[2022-10-11 13:24] #2139 closed

[2022-10-13 01:17] kungpaogao commented on #1486
Is there a convenient way to just get the inline text after the checkbox? I'm trying to make checkboxes more accessible with labels, and the solution @UziTech mentioned is pretty good unless there are nested items.

[2022-10-13 06:10] UziTech commented on #1486
@kungpaogao you can change the regular expression however you want to wrap the label. The best way to do it will depend on your use case. If you want to allow any markdown you could use another tool to create the dom after marked converts it to html and add the label that way.

[2022-10-16 03:19] kungpaogao commented on #1486
@UziTech sorry for the late reply - I'm try to do something like the following:
[code]
should become something like
[code]

I tried for a bit, but I'm stumped on how to only have the `<label>` wrap the text afterwards + any inline blocks, but *not* any children/nested list items or block items. Do you have any pointers, or is this use case out of the scope of just extending `marked`?

[2022-10-16 10:49] UziTech commented on #1486
Your best bet is to use a different tool. You can still extend marked the way I show above but using regex to add the label in every situation would be difficult.

Ideally you would do something like:

[code]

[2022-10-16 18:23] danangtomo opened #2611 "add copy to clipboard for each code block"
**Describe the feature**
I want to add copy to clipboard feature for each code block.

**Why is this feature necessary?**
as [#2365](https://github.com/markedjs/marked/issues/2365) explained, this feature makes it easier to copy content and also adds a good impression in terms of user experience.

[2022-10-16 20:21] DLiblik commented on #907
I hate to rain on a parade, but this is a really clumsy issue.  We did not realize this was happening (singleton instance in the background) and to make matters worse, our test pipeline turns over our server as it runs test cases.  We had 3 extensions being added when the module was imported (which occurs on each test-reset) and found we had 1,926 extensions installed because marked has no way to

[2022-10-16 20:29] DLiblik commented on #907
...if it's helpful to others, you can clear `block` extensions (and other defaults - just change the property you are editing) by doing the following, but:

- this accesses private code 💣
- you will muck with any other marked instances 💥

[code]

[2022-10-17 03:21] UziTech commented on #2611
Marked converts markdown to HTML. It doesn't do anything with JavaScript in the resulting HTML.

[2022-10-17 03:33] UziTech commented on #907
@DLiblik `marked.getDefaults()` will always return the default options object. You can reset marked with `marked.setOptions(marked.getDefaults())`.

This is something we have tried changing before with people complaining. It would be great if we can find a way to create an instance without breaking anyone who relys on the singleton.

[2022-10-17 04:34] danangtomo commented on #2611
ohh I see

[2022-10-17 17:20] calculuschild commented on #2611
@danangtomo You could probably get the effect you want by updating the code block Renderer to output different HTML including a button and some "onClick()" javascript effect.

See https://marked.js.org/using_pro#renderer

[2022-10-17 17:45] danangtomo commented on #2611
thanks for the information, but my original goal was to create it in every code block contained in the marked-js documentation

[2022-10-18 00:50] UziTech commented on #2611
We could add JavaScript to the documentation to do that. That sounds like a good idea.

[2022-10-18 03:34] danangtomo commented on #2611
Yeah right, that's what I meant

[2022-10-18 04:07] danangtomo commented on #2611
can assign me?

[2022-10-19 01:46] danangtomo commented on #2611
wdyt about this?

my next plan is to add a little animation to indicate that it has been copied successfully

[Marked-Documentation.webm](https://user-images.githubusercontent.com/26623057/196577136-a3d4e3bd-efac-4172-a768-6eee67eac113.webm)

[2022-10-20 21:06] coolaj86 commented on #2357
In particular:

- v2 Breaking changes: https://github.com/markedjs/marked/releases/tag/v2.0.0
- v3 Breaking changes: https://github.com/markedjs/marked/releases/tag/v3.0.0
- v4 Breaking changes: https://github.com/markedjs/marked/releases/tag/v4.0.0

Migrating from v1 to v4:

[code]

The entire codebase was refactored and a few tag parsers have been merged - such as `<em>` and `<strong>` - but it'

[2022-10-23 09:29] YashasviChaurasia commented on #2082
@foxbunny I would like to fix this issue.
Thank you.

[2022-10-23 21:43] UziTech commented on #2082
@YashasviChaurasia sounds good 👍 you can take it on.

[2022-10-24 03:10] abdullahkhalids opened #2617 "Can't use extensions from CLI"
**Describe the feature**
I would like the ability to use extensions from the CLI version of the marked. It might already be possible, but there is no documentation to this effect in the CLI help.

**Why is this feature necessary?**
Extensions can be used in the other ways of calling marked. They should also be usable from the CLI.

**Describe alternatives you've considered**
N/A

[2022-10-24 18:51] YashasviChaurasia commented on #2082
@UziTech Could you specify exactly where should I do the documentation changes?
Thank you

[2022-10-25 05:25] abdullahkhalids commented on #2617
My particular use case is that I am developing on python. While, I could conceivably create a boiler plate script to run node and then call it from python, it would be much easier to just call the marked cli in a line and be done with it.

But I understand if this is low priority. Thanks in any case.

[2022-10-25 05:44] UziTech commented on #2617
Considering that you would have to write the extensions in nodejs anyway I don't think it would be much harder to just do it programmatically. I think it would be too much to maintain to send npm packages to the cli and have it try to download and import them correctly in every situation.

[2022-10-25 05:51] UziTech commented on #2082
https://github.com/markedjs/marked/blob/master/docs/USING_PRO.md#markeduse

[2022-10-25 07:31] kungpaogao commented on #1486
thanks for the suggestion! I was able to solve this for my use case by parsing the list item to
[code]
and then using simple string manipulation to move the label tag around
[code]

[2022-10-26 21:31] cyrus-and opened #2626 "How to write an async renderer?"
**Marked version:** v4.1.1

**Describe the bug**

Despite #2474 fixes #458, I don't see how I can write an async renderer, it seems that the former merely allows to write an async version of the `walkTokens` function.

**To Reproduce**

Steps to reproduce the behavior:

[code]

**Expected behavior**

I expected to see `x` in the output, and not `<p>[object Promise]</p>`.

[2022-10-26 23:22] UziTech commented on #2626
That is essentially what it does. Having async functions in the renderer or tokenizer would require lots of duplicate code in order to not break things or slow down marked for anyone who doesn't need it to be async.

You can see an example of how to make marked async in the [docs](https://marked.js.org/using_pro#async).

[2022-10-27 07:04] cyrus-and commented on #2626
So the question remains, how can I achieve the same using `walkTokens` only? AFAIK I cannot change the token *body* with that, the example you linked works (for links) for the `title` property, if I try to change the `text` property it doesn't, and I think it makes sense that way.

[2022-10-27 07:10] UziTech commented on #2626
Can you give some example markdown and expected output?

[2022-10-27 07:17] cyrus-and commented on #2626
I basically want to override the link text in certain conditions, and using a renderer would work fine, the problem is that I need to perform some async operations in doing that.

From:

[code]

to:

[code]

[2022-10-27 07:37] UziTech commented on #2626
The text for a link is tokenized since it can have other markdown tokens inside of it. Here is an example that changes the link text and re tokenizes it:

[code]

[2022-10-27 07:41] cyrus-and commented on #2626
Awesome, that will do it. Thank you so much for the quick support!

[2022-10-27 07:41] #2626 closed

[2022-10-30 22:14] #2617 closed

[2022-10-31 06:05] sofencyXiao opened #2633 "no line of table"
**Marked version:**
/**
 * marked - a markdown parser
 * Copyright (c) 2011-2022, Christopher Jeffrey. (MIT Licensed)
 * https://github.com/markedjs/marked
 */
no version
**Describe the bug**
<img width="367" alt="image" src="https://user-images.githubusercontent.com/48281891/198942027-7d13e615-e465-4f17-b09e-b87fc120f9c6.png">
 no line of table

[2022-10-31 06:23] UziTech commented on #2633
marked does not provide css only html. You will have to provide your own css to add table cell borders.

[2022-10-31 06:26] sofencyXiao commented on #2633
thanks

[2022-10-31 06:27] #2633 closed

[2022-10-31 08:23] abdullahkhalids commented on #2617
Thanks

[2022-11-02 02:03] #2280 closed

[2022-11-03 09:52] kapouer opened #2639 "Parser.parse extension to be able to change tokens as a whole"
**Describe the feature**
Ability to get the "root" tokens list before rendering - either through a Parser.parse extension, or another mecanism.

**Why is this feature necessary?**
I need my extension to be able to prepend a default (depth 1) heading token when one is missing.

**Describe alternatives you've considered**
[code]
but i hate monkey-patching.

[2022-11-03 12:57] calculuschild commented on #2639
The [walkTokens](https://marked.js.org/using_pro#walk-tokens) function might be what you are looking for. It lets you modify the token tree before being sent to the final HTML renderer.

[2022-11-03 13:19] kapouer commented on #2639
Yes, but (unless I'm mistaken) it's not possible to know if the token is the first token of the document.
I tried setting a flag, but that fails when using marked as a library.

[2022-11-03 15:14] UziTech commented on #2639
If all you need are the root tokens you can get the array from `marked.lexer`

[code]

There isn't currently an easy way to make this into an extension. For that we may need to implement [hooks](https://github.com/markedjs/marked/pull/1878).

[2022-11-03 15:37] kapouer opened #2640 "Pass token to renderer methods ?"
**Describe the feature**
Currently renderer methods get arguments cooked by marked ~Renderer~ Parser, as in `code(code, infostring, escaped)`.
On the other hand, extensions rendered methods get a `token` parameter with all its properties.
I request that all renderer methods get a token.

**Why is this feature necessary?**
For example this.renderer.list won't know if the list is loose.

**Describe

[2022-11-03 16:01] UziTech commented on #2640
I would love this. It would make certain things so much easier. Unfortunately this would be a huge breaking change to most marked renderers. If we could do this in a way that would allow the tokens and deprecate the old way first I would be on board.

[2022-11-04 09:09] kapouer commented on #2640
Ideas, in my order of preference:
1. "opt-in" with a `legacyRenderer: true` flag
2. `this.renderer.token = token` before each call (considering that renderers are sync functions)
3. add a extensions.renderer catch-all method

[2022-11-04 17:19] babakfp commented on #2122
Hey
So, a year later I tried out [this code](https://github.com/markedjs/marked/issues/2122#issuecomment-871735769) in another project and it worked.
Thanks

[2022-11-06 19:53] simonhaenisch commented on #2232
Looks like that's merged, so this can be closed?

[2022-11-06 20:13] simonhaenisch opened #2642 "Encouraging a plugins ecosystem"
**What pain point are you perceiving?**

I can't find any published plugins/extensions.

**Describe the solution you'd like**

I believe there's a somewhat unspoken norm about authoring plugins for tooling in the Node.js ecosystem by following a `<tool>-plugin-<plugin-name>` naming scheme. IMO it would be great to see the same for `marked` as well!

The main "solution" for me would be to add a gui

[2022-11-06 20:20] UziTech commented on #2232
Yes, thanks!

[2022-11-06 20:20] #2232 closed

[2022-11-06 20:23] UziTech commented on #2642
There is a [Known Extensions](https://marked.js.org/using_advanced#extensions) list in the docs. There is also [List of Tools Using Marked](https://marked.js.org/#tools)

[2022-11-06 20:39] simonhaenisch commented on #2642
Oh ok, somehow I completely missed this section 🙈 🙏 Maybe having this list under "Extensibility" (right under "marked.use()") makes more sense? Anyway, I still think there could be a whole "Plugins" chapter to encourage publishing extensions as packages (with some guidelines), and moving the sections "Extensibility > Custom Extensions" and "Advanced Usage > Known Extensions" there?

[2022-11-06 23:37] UziTech commented on #2642
I don't think we should move around the headings too much so we don't have broken links, but we could add a note below the marked.use senction pointing to the list of extensions.

[2022-11-07 11:39] #2642 closed

[2022-11-07 18:14] vdebergue opened #2648 "Wrong parser data for auto links with ampersand"
**Marked version:** 4.2.2

**Describe the bug**
Auto links containing ampersand: `&` will produce wrong lexer data: href contains an escaped `&`

**To Reproduce**
Steps to reproduce the behavior:

[See example](https://marked.js.org/demo/?outputType=lexer&text=http%3A%2F%2Fexample.com%2F%3Ffoo%3D1%26bar%3D2%0A%0A%5Bfoo%5D%28http%3A%2F%2Fexample.com%2F%3Ffoo%3D1%26bar%3D2%29%0A%0A&options=%7B%0A+%2

[2022-11-07 18:49] UziTech commented on #2648
Marked seems to follow [CommonMark](https://spec.commonmark.org/dingus/?text=http%3A%2F%2Fexample.com%2F%3Ffoo%3D1%26bar%3D2%0A%0A%5Bfoo%5D(http%3A%2F%2Fexample.com%2F%3Ffoo%3D1%26bar%3D2)%0A%0A) on this so I think this is working as intended.

[2022-11-11 08:26] hyrious opened #2649 "Multiple extensions in `marked.use()` causing defaults being wrongly overrided"
**Marked version:**
4.2.2

**Describe the bug**
As described in the [pro doc](https://marked.js.org/using_pro#use):

- The `renderer` and `tokenizer` options are objects with functions that will be merged into the built-in `renderer` and `tokenizer` respectively.

Which means people can use multiple extensions written in this way:

[code]

However this way will cause errors, see reproduction below

[2022-11-11 08:45] UziTech commented on #2649
It looks like the issue is this line

https://github.com/markedjs/marked/blob/fdbbec699f40d652dd7c8b9ac50c5cbaed75776e/src/marked.js#L156

currently it merges all of the extensions together to get the options. It should be smarter about how it merges the options.

For example, if one extension has `async: true` set and another one after it has `async: false` the last extension loaded will override

[2022-11-11 18:00] Charow0206 opened #2650 "HTML elements / tags in markdown will not be overwritten by renderer"
**Marked version:** 4.2.1

**Describe the bug**
Not sure if it's me not knowing how to do it correctly, but I noticed HTML tags in markdown are not being overwritten by the renderer.

For example if I write a blockquote in markdown like this, it will be overwritten:
```> Lorem ipsum ```

but do I write it HTML in it like this, it will not be overwritten:
```<blockquote>Lorem ipsum</blockquote>```

[2022-11-11 23:49] UziTech commented on #2650
`<blockquote>Lorem ipsum</blockquote>` will be picked up by the `html` renderer because it is an HTML token not a block quote token.

[demo](https://marked.js.org/demo/?outputType=lexer&text=%3E%20Lorem%20ipsum%0A%0A%3Cblockquote%3ELorem%20ipsum%3C%2Fblockquote%3E%0A&options=%7B%0A%20%22async%22%3A%20false%2C%0A%20%22baseUrl%22%3A%20null%2C%0A%20%22breaks%22%3A%20false%2C%0A%20%22extensions%22%3A%

[2022-11-12 10:00] Charow0206 commented on #2650
It seems like that works, but I meant the override doesn't work like I thought it would. For example I tried to override the blockquote like this:
```renderer.blockquote = (quote) => `<blockquote className="hello-world">${quote}</blockquote>`;```

In this case I would assume that every blockquote will receive the class(Name) `hello-world`, but it doesn't. Only the blockquote that are written like

[2022-11-12 14:54] UziTech commented on #2650
That is how it should be because `<blockquote> lorem ipsum </blockquote>` is not a markdown blockquote. It is a markdown HTML block.

[2022-11-12 15:00] Charow0206 commented on #2650
Fair enough, I had hoped I could override both, because you can write them both ways in markdown of course. But I don't think there is a native way for that, right?

[2022-11-12 15:34] UziTech commented on #2650
No because in markdown they are two very different things. The rules for handling HTML and blockquotes are very different in markdown. For example text inside html is not parsed as markdown so `lorem *ipsum*` will output `lorem *ipsum*` in an html block but a blockquote block would output `lorem <em>ipsum</em>` ([demo](https://marked.js.org/demo/?text=%3E%20lorem%20*ipsum*%0A%0A%3Cblockquote%3Elor

[2022-11-12 22:36] Charow0206 commented on #2650
That is helpful! Appreciate your response. I’ll close the issue as it works as intended

[2022-11-12 22:36] #2650 closed

[2022-11-13 03:37] GCSmith-07 opened #2653 "Opening Chat Archives: Uncaught TypeError:Failed to Execute"
Uncaught TypeError: Failed to execute 'getComputedStyle' on 'Window': parameter 1 is not of type 'Element'.
[Detected 3 packages: plutonium, lib-wrapper, df-chat-enhance]
    at DFChatArchiveViewer.bringToTop (foundry.js:5443:36)
    at 🎁call_wrapped [as call_wrapped] (libWrapper-wrapper.js:507:22)
    at DFChatArchiveViewer._lw_Application_prototype_bringToTop (PopoutSheet.js:28:15)
    at 🎁call_

[2022-11-13 03:52] UziTech commented on #2653
This doesn't seems to be an error in marked. We don't call getComputedStyle.

[2022-11-13 03:52] #2653 closed

[2022-11-13 04:05] GCSmith-07 commented on #2653
Could you tell me based off that console output what would be so I can look into getting it fixed?

[2022-11-13 04:39] UziTech commented on #2653
Not without more info about what the code was that was running at the time. All I know from that error is that it "Failed to execute 'getComputedStyle' on 'Window'".

[2022-11-13 04:49] GCSmith-07 commented on #2653
Here is the full error log I get
![image](https://user-images.githubusercontent.com/100705086/201506291-70126743-471f-4521-956c-cc2576f9d126.png)

![image](https://user-images.githubusercontent.com/100705086/201506300-7e16e886-bf53-4fe9-adf6-4d7322dd2938.png)

[2022-11-13 05:01] UziTech commented on #2653
That doesn't help much. If you have a way I can reproduce the error I can help. Is there a website I can go to to see the error? or a set of steps to take to see the error?

Just curious, what made you think this was an issue with marked?

[2022-11-13 05:30] GCSmith-07 commented on #2653
I must have posted this on the wrong thread. So sorry to waste your time. Mistake on my end.

[2022-11-20 16:06] #2649 closed

[2022-11-21 06:00] #2648 closed

[2022-11-21 06:36] #1694 closed

[2022-11-21 06:37] UziTech commented on #1694
This was fixed in v4

[2022-11-21 06:42] UziTech commented on #1386
This is fixed in the latest release

[2022-11-21 06:42] #1386 closed

[2022-11-21 06:46] UziTech commented on #1541
closing as stale. I don't think we will change the behavior of baseUrl

[2022-11-21 06:46] #1541 closed

[2022-11-23 11:24] jingkaimori opened #2662 "Provide type definition in .d.ts file"
**Describe the feature**
Provide a type definition file, like [index.d.ts](https://cdn.jsdelivr.net/npm/@types/marked@4.0.7/) in version 4.0.7.

**Why is this feature necessary?**
Without type definition, it's impossible to know whether a token contains some field.

**Describe alternatives you've considered**
Export those jsdoc comment along with lib file.

[2022-11-23 13:53] UziTech commented on #2662
Duplicate of #1732

[2022-11-23 13:53] #2662 closed

[2022-11-26 05:10] BeeFox-sys opened #2664 "Pandoc css markup"
**Describe the feature**
I would like a config option that allows for pandoc style css; for example
[code]
would generate
[code]

**Why is this feature necessary?**
Pandoc's css markdown is really nice to use and allows you to focus on content rather then code when writing markdown

**Describe alternatives you've considered**
I presume a way to implement this via the tokeniser would be possible bu

[2022-11-26 15:38] UziTech commented on #2664
Is there a link to a spec for pandoc css so someone can know if it is working how it is supposed to?

[2022-11-26 16:02] UziTech commented on #2664
Looks like this custom extension should work. It probably won't catch all of the edge cases but it should be easy to change to get it to work.

[code]

[2022-11-26 16:08] #2639 closed, assigned to nobody

[2022-11-27 03:48] BeeFox-sys commented on #2664
there's a bunch of stuff in this; but mainly im looking at the attribute stuff. basically you can attach {.class #id attr=example} to the end of an element, be that a fenced codeblock, a heading, an image, etc etc. (the [example]{.class} shows how to do it to a span of text), and it will attach those attributes/class/id to the element when creating the html
https://garrettgman.github.io/rmarkdown/

[2022-11-27 05:03] UziTech commented on #2664
Looks like a full extension would take a lot more work but it should be possible with a custom extension.

[2022-11-27 05:03] #2664 closed

[2022-11-29 07:09] simonhaenisch opened #2669 "Discrepancy between custom extensions and `marked.use()` docs"
In the [known extensions](https://marked.js.org/using_advanced#extensions) docs, there's a list of extensions and an instruction to use them via `marked.use(extension)`. However, I looked at the source of some of them, and it looks like they do not export a Marked extension but a Tokenizer or Renderer extension. This is also how it's stated to be done in the [custom extensions](https://marked.js.o

[2022-11-29 15:27] UziTech commented on #2669
`marked.use({ extensions: [/* ... */] })` is for adding custom tokenizers and renderers. If you are changing existing tokenizers/renderers you don't need to put them in the extensions array.

I agree it would be nice to have a unified way to do things. The reason there is two ways for existing tokenizers is so we don't break older extensions.

It would be very helpful if you would create a PR with

[2022-11-29 16:24] Bistard opened #2670 "[Question] Different blockquote lex result when nesting inside a list"
**Marked version: 4.0

**Describe the bug**
Given the following plain text:
[code]
The following data is the lexing result that I copied from the marked demo website:
[code]
Why does the blockquote in the first part lex the inner text as `paragraph`, but the second blockquote that is nested in the list lex the inner text as `text`?  I am not sure if this is supposed to be the expected behavior.

*

[2022-11-30 05:54] BeeFox-sys commented on #2664
[code]

just adding this here for anyone who comes looking, this is much closer to pandocs useage as it allows for multiple things in the attributes. I am now working on getting it to know it is by another token but that is yet to come.

[2022-11-30 07:11] UziTech commented on #2670
Nice catch! :100:

This should be fixed in #2671